PROJECT_NAME=PYTHON RBAC AUTH SYSTEM
API_V1_STR=/api/v1
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi-db
ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_SECRET_KEY=change-me-to-a-long-random-string
JWT_ALGORITHM=HS256

# Application Base URL
BASE_URL=http://localhost:8000

# SMTP Configuration
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@example.com
SMTP_TLS=false
